@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300;600&display=swap');

:root {
  --color-primary: #C3EEC6;
  --color-secondary: #072010
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Lora', serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 6.6em;
  font-weight: 400;
  line-height: 1.2;
}
h2 {
  font-family: 'Lora', serif;
}

p {
  font-weight: 300;
}
p strong {
  font-weight: 600;
}

a {
  color: var(--color-secondary);
  text-decoration: underline;
}
.is-inverted a {
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary);
  background: var(--color-secondary);
}
